body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

nav {
  padding-top: 0%;
  margin-top: 0%;
  height: 100%;
  background-color: #7EC7C4;
}

h1 {
  color: white;
}

h2 {
  text-align: left;
  margin-left: .5%;

}

ul {
  text-align: left;
  margin-left: 1%;
}

li {
  list-style-type: none;
}
